executing==2.1.0
pexpect==4.9.0
Pygments==2.19.1
pandas==2.2.3
protobuf==5.29.4
decorator==5.1.1
idna==3.10
wordcloud==1.9.4
traitlets==5.14.3
tensorflow-io-gcs-filesystem==0.37.1
nest_asyncio==1.6.0
proglog==0.1.11
Markdown==3.7
gymnasium==1.1.1
ptyprocess==0.7.0
flatbuffers==25.2.10
toml==0.10.2
parso==0.8.4
importlib_metadata==8.6.1
grpcio==1.71.0
ipython==8.31.0
zipp==3.21.0
pydeck==0.9.1
astunparse==1.6.3
opt_einsum==3.4.0
google-pasta==0.2.0
requests==2.32.3
pickleshare==0.7.5
debugpy==1.8.12
attrs==25.3.0
termcolor==3.0.1
blinker==1.9.0
markdown-it-py==3.0.0
seaborn==0.13.2
Farama-Notifications==0.0.4
GitPython==3.1.44
wheel==0.44.0
networkx==3.4.2
fonttools==4.55.4
jedi==0.19.2
joblib==1.4.2
setuptools==75.1.0
pytz==2024.1
patsy==1.0.1
gast==0.6.0
jupyter_client==8.6.3
asttokens==3.0.0
tqdm==4.67.1
urllib3==2.3.0
scikit-learn==1.6.1
stable_baselines3==2.6.0
exceptiongroup==1.2.2
pydantic==2.11.3
click==8.1.8
typing-inspection==0.4.0
pyzmq==26.2.0
appnope==0.1.4
scipy==1.15.1
narwhals==1.31.0
tenacity==9.0.0
jsonschema==4.23.0
stack_data==0.6.3
tensorboard==2.19.0
python-dotenv==1.1.0
box2d-py==2.3.5
threadpoolctl==3.5.0
keras==3.9.2
Werkzeug==3.1.3
psutil==6.1.1
kiwisolver==1.4.7
jupyter_core==5.7.2
referencing==0.36.2
numpy==2.1.3
gitdb==4.0.12
jsonschema-specifications==2024.10.1
matplotlib==3.10.0
mdurl==0.1.2
sentry-sdk==2.26.1
python-dateutil==2.9.0.post0
mpmath==1.3.0
charset-normalizer==3.4.1
wcwidth==0.2.13
packaging==24.2
torch==2.6.0
certifi==2025.1.31
unicodedata2==16.0.0
setproctitle==1.3.5
tzdata==2025.1
libclang==18.1.1
imageio-ffmpeg==0.6.0
swig==4.3.0
tensorflow==2.19.0
cycler==0.12.1
pip==24.2
Jinja2==3.1.6
opencv-python==4.11.0.86
filelock==3.18.0
torchvision==0.21.0
pyarrow==19.0.1
comm==0.2.2
pygame==2.6.1
statsmodels==0.14.4
imageio==2.37.0
pure_eval==0.2.3
namex==0.0.8
tornado==6.4.2
cloudpickle==3.1.1
h5py==3.13.0
pyparsing==3.2.1
fsspec==2025.3.0
pydantic_core==2.33.1
moviepy==2.1.2
pillow==10.4.0
docker-pycreds==0.4.0
munkres==1.1.4
contourpy==1.3.1
wrapt==1.17.2
sympy==1.13.1
typing_extensions==4.12.2
PyYAML==6.0.2
rich==14.0.0
matplotlib-inline==0.1.7
smmap==5.0.2
tensorboard-data-server==0.7.2
rpds-py==0.23.1
prompt_toolkit==3.0.50
ml_dtypes==0.5.1
wandb==0.19.9
altair==5.5.0
platformdirs==4.3.6
ipykernel==6.29.5
annotated-types==0.7.0
optree==0.15.0
cachetools==5.5.2
six==1.17.0
streamlit==1.43.2
absl-py==2.2.2
MarkupSafe==3.0.2
